{% extends 'base.html' %}

{% load static %}
{% load i18n %}

{% block body %}
    <div class="center_content">
      <div class="left_content">
        <div class="title"><span class="title_icon"><img src="{% static 'images/bullet1.gif' %}" alt="" /></span>Register</div>
        <div class="feat_prod_box_details">
          <p class="details"> {% trans 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.'%} </p>
          <div class="contact_form">
            <div class="form_subtitle">{% trans "user identify" %}</div>
            {% if login %}
              <li><a href="{% url 'accounts:recovery' %}">forget password</a></li>
            {% endif %}
            <form name="register"  action="" method='POST' novalidate>
            {% csrf_token %}
              {% for field in form %}  
                <div class="form_row">
                  <label class="contact"><strong>{{field.label}}:</strong></label> <br>
                  {{field}}
                  <p style="color:tomato">{{ field.errors }}</p>
                </div>
              {% endfor %}
              <div class="form_row">
                <input type="submit" class="register" value="{% trans 'submit'%}" />
              </div>
            </form>
          </div>
        </div>
        <div class="clear"></div>
      </div>
{% endblock %}